<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.royhsu.adminserver.admin.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.royhsu.adminserver.admin.entity.Menu">
        <id column="id" property="id"/>
        <result column="menuName" property="menuName"/>
        <result column="parentId" property="parentId"/>
        <result column="url" property="url"/>
        <result column="perms" property="perms"/>
        <result column="type" property="type"/>
        <result column="icon" property="icon"/>
        <result column="orderNum" property="orderNum"/>
        <result column="createBy" property="createBy"/>
        <result column="createTime" property="createTime"/>
        <result column="lastUpdateBy" property="lastUpdateBy"/>
        <result column="lastUpdateTime" property="lastUpdateTime"/>
        <result column="delFlag" property="delFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, menuName, parentId, url, perms, type, icon, orderNum, createBy, createTime, lastUpdateBy, lastUpdateTime,
        delFlag
    </sql>

</mapper>
