<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.royhsu.adminserver.admin.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.royhsu.adminserver.admin.entity.Role">
        <id column="id" property="id" />
        <result column="roleName" property="roleName" />
        <result column="remark" property="remark" />
        <result column="createBy" property="createBy" />
        <result column="createTime" property="createTime" />
        <result column="lastUpdateBy" property="lastUpdateBy" />
        <result column="last_updateTime" property="lastUpdatetime" />
        <result column="delFlag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, roleName, remark, createBy, createTime, lastUpdateBy, last_updateTime, delFlag
    </sql>

    <select id="selectPage" resultType="cn.royhsu.adminserver.admin.entity.User">
        select * from sys_user where id=#{id}
    </select>

</mapper>
