<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.royhsu.admin.mapper.UserRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.royhsu.admin.entity.UserRole">
        <id column="id" property="id" />
        <result column="userId" property="userId" />
        <result column="roleId" property="roleId" />
        <result column="createBy" property="createBy" />
        <result column="createTime" property="createTime" />
        <result column="lastUpdateBy" property="lastUpdateBy" />
        <result column="lastUpdateTime" property="lastUpdateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userId, roleId, createBy, createTime, lastUpdateBy, lastUpdateTime
    </sql>

</mapper>
